*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.firstPage {
    background-image: url(Images/test.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;

}

.Logo {
    margin-top: 5%;
    margin-left: 10%;
    height: 90px;
    width: 90px;
}

.logoAndButtons {
    width: 100%;
    display: inline-block;
    float: none;
}




/* MOVING NAVIGATION BAR */

.navigationBar{
	background-color: rgb(255, 255, 255);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
    z-index: 99999;
    height: 63px;
}

.navigationBar img{
    height: 60px;
    width: 60px;
    margin-top: 0;
    margin-left: 20%;
}

.navigationBar ul{
    margin-top: -2.5%;
}

.movingNavigationBar{
    list-style: none;
	margin-left: 50%;
    margin-top: 0;
}

.movingNavigationBar li {
	display: inline-block;
    font-size: 20px;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.movingNavigationBar a{
    text-decoration: none;
    font-weight: 100;
    color: #909090;
}

/* ----------------------- */




.topR-options {
    margin-left: 50%;
    list-style: none;
    margin-top: -5%;
}

.topR-options li {
    display: inline-block;
    right: 30%;
}


.topR-options li a:link, 
.topR-options li a:visited {
    padding: 25px;
    color: lightgray;
    text-decoration: none;
    font-size: 115%;
    transition: border 0.2s;
}

.topR-options li a:hover,
.topR-options li a:active {
    border: 2px solid #ff7700;
}

.header1Page {
    position: relative;
    color: whitesmoke;
    margin-left: 10%;
    top: 20%;
    font-size: 300%;
}

.firstPageMiddleButtons {
    text-decoration: none;
    position: relative;
    bottom: -22%;
    margin-left: 10%;
}

.im-hungry, .show-me-more {
    display: inline-block;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    font-size: 14px;
    width: 150px;
    margin-right: 15px;
    padding: 0.6rem;
    border-radius: 25px;
    border-width: thin;
}

.im-hungry {
    color: whitesmoke;
    background-color: #ff7700 !important;
    border-color: #ff7700;
}

.im-hungry:hover {
    color: whitesmoke;
    background-color: #ec6f01 !important;
    border-color: #ff7700 !important;
    transition: ease-in 0.2s;
}

.show-me-more {
    color:#ff7700;
    background-color: transparent;
    border:solid #ff7700 !important;
}

.show-me-more:hover {
    color: #caf0f8;
    background-color: #ff7700;
    border-color: #ff7700;
    transition: all 0.2s ease-out;
}

.secondPage {
    background-color: white;
}

.getFoodFast {
    padding-top: 40px;
    color: rgb(66, 66, 66);
    text-align: center;
    font-size: 30px;
}

.separator {
    width:100px;
    margin: auto;
    color: #ff7700;
}

.intro {
    color: rgb(90, 90, 90);
    font-size: 16px;
    text-align: center;
}

.headers2Page {
    font-size: 17px;
}

.secondPageInfo {
    color: rgb(90, 90, 90);
    width: 80%;
    margin-left: 10%;
    column-gap: 5%;
    position: relative;
    display: flex;
    flex-direction: row;
}

.info ion-icon {
    font-size: 80px;
    color: #ff7700;
  }

.galleryRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: fit-content;
    margin-top: 80px;
}

.gPictures img {
    display: block;
    height: 100%;
    width: 100%;
    transition: transform 0.2s, filter 1s ease-in-out;
    filter: blur(0.8px);
    transform: scale(1);
}
  
.gPictures:hover img {
    filter: blur(0);
    transform: scale(1.1);
  }

.thirdPage {
    position: relative;
    height: 700px;
    background-color:rgb(226, 226, 226);
}

.phoneSection {
    padding-top: 2%;
}

.phoneImage {
    width: 30vh;
    height: 50vh;
    min-width: 220px;
    min-height: 340px;
    margin-left: 34%;
}

.rightByPhone {
    position: absolute;
    display: inline;
    list-style-type: none;
    padding-top: 5%;
    padding-right: 20%;
}

.rightByPhone p {
    color: rgb(90, 90, 90);
    height: 50px;
    display: inline-block;
}

.numbersThirdPage {
    display: inline-block;
    text-align: center;
    color: #ff7700;
    border:  2px solid #ff7700;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 200%;
}

.download img{
    height: 100px;
    width: 180px;
}

#Google{
    height: 80px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.cities {
    background-color: white;
    margin-top: 80px;
}

.cityPhotos, .cityDescription {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.description, .cityPhoto img {
    height: 180px;
    width: 250px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.description ion-icon {
    color: #ff7700;
}

.description a {
    color: #ff7700;
    text-decoration: none;
}

.description p {
    color: rgb(90, 90, 90);
    font-weight: 200;
    font-size: 18px;
}

.description h3 {
    color: rgb(90, 90, 90);
    font-weight: 200;
}

.reviewsPage {
    background-image: url(images/pizza2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 60vh;
    padding-top: 70px;
}

.reviewsPageHeader {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}

.reviews {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

blockquote {
    padding: 2%;
    position: relative;
    margin-top: 40px;
    color: white;
}

blockquote:before {
    content: "\201C";
    font-size: 420%;
    display: block;
    position: absolute;
    top: -40px;
    left: -2px;
}

.reviewsQuotes {
    height: 180px;
    width: 250px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.reviewsQuotes cite {
    position: relative;
    bottom: 15px;
}

.reviewsQuotes img {
    margin-top: 50px;
    height: 70px;
    width: 70px;
}

.reviewsQuotes blockquote {
    color: white;
}

.plansPage {
    background-color: rgb(226, 226, 226);
    max-width: 1920px;
	margin: 0 auto;
    padding-bottom: 2%;
}

.plansPrice {
    font-size: 330%;
    font-weight: 100;
    margin-bottom: 10px;
    color: #ff7700;
}

.month {
    font-size: 40%;
}

.plansPricePerMeal {
    font-size: 100%;
    color: rgb(90, 90, 90);
}

.tics {
    color: #ff7700;
}

.plans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 15%;
}

.planBoxes {
    margin: 0 auto;
    background-color: #ffffff;
    -webkit-box-shadow: 0 5px 5px #efefef;
    box-shadow: 0 5px 5px rgb(187, 187, 187);
    border-radius: 5px;
    width: 25%;
    height: 100%;
}

.buttonsPlans {
    margin-left: 17%;
}

.submitPlans {
    max-height: 15%;
}

.planBoxes div {
    height: 100%;
    padding: 7%;
    border-bottom: 1px solid #e8e8e8;
}

.planBoxes ul {
    font-size: 20px;
    color: rgb(90, 90, 90);
    list-style: none;
    padding: 5px 0;
}

.planBoxes h3 {
    font-size: 150%;
    font-weight: 100;
    color: rgb(90, 90, 90);
}

.lastPage {
    background-color: white;
    padding-top: 80px;
    height: 80vh;
}

.contactForm {
    width: 60%;
    margin: 0 auto;
}

.contactForm label {
    margin-left: 50%;
}

.userForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    float:none;
    height: 40px;
    padding-bottom: 50px;
    font-size: 20px;
}

.findUs {
    background-color: transparent;
}

.userText {
    height: 90px;
}

.userConfirm {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    align-items: center;
}

footer {
    background-color: #383838;
    color: #909090;
}

footer li a, .socialMedias li a {
    text-decoration: none;
    color: #d7d8d8;
}

footer li {
    list-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    font-size: 25px;
    color: #909090;
}

.aboutOmnifood {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.socialMedias {
    display:inline-flex;
    position: absolute;
    margin-left: 75%;
}

.bottomCopyrights {
    display: block;
    text-align: center;
    padding-bottom: 40px;
}